<div id="fundo">    
    <div id="quadrado">
        <section id="ladoEsquerdo"> 
            <img src="\assets\imgCadastro.png" alt="logo cadastro" style="width: 100%; height: 100%;">  
        </section>

        <section id="ladoDireito">
            <div id="boxCadastro">
                <h1 id="tituloCadastro">Cadastro</h1> 

                <ul id="radiosGroup">
                    <li>
                        <app-input-radio [(ngModel)]="atleta" #atletaInput="ngModel" id="atletaRadio" value="perfil" name="esportista" textoRadio="Sou atleta" />
                        <i class="fa-solid fa-circle-info"></i>
                    </li>
                    <li>
                        <app-input-radio id="agenteRadio" value="perfil" name="agente" textoRadio="Sou agente de lutas" />
                        <i class="fa-solid fa-circle-info"></i></li>    
                </ul> 

<!--
                <label for="inputData">Data de nascimento</label> 
                <app-datepicker />

                 <label for="inputText">CPF</label>
                <app-input-texto
                mask="000.000.000-00"
                id="inputText" 
                placeholder="" 
                border-color="var(--azul)"
                /> 

                <label for="genero">Gênero</label>
                <app-dropdown id="genero" [options]="['Masculino', 'Feminino', 'Outro']"> </app-dropdown>
 -->

                <label for="inputText"></label>
                <app-input-texto
                id="inputEmail" 
                placeholder="Email" 
                border-color="var(--azul)"
                value=""
                />

                <label for="inputSenha"></label>
                <app-input-senha
                id="inputSenha" 
                placeholder="Senha" 
                /> 

                <label for="inputConfirmarSenha"></label>
                <app-input-senha
                id="inputConfirmarSenha" 
                placeholder="Confirmar senha" 
                />  

                <ul id="termos">
                    <li><input type="checkbox" id="termoIdade" /> Confirmo ter mais de 18 anos</li>
                    <li><input type="checkbox" id="termoLGPD" /> Concordo com os termos da LGPD estabelecidos</li> 
                </ul> 

                <app-button textoBtn="Criar conta" (click)="entrar()" /> 
            </div>
        </section>
        
    </div> 

</div>