<div id="fundo">    
    <div id="quadrado">
        <section id="ladoEsquerdo"> 
            <img src="\assets\imgCadastro.png" alt="logo cadastro" style="width: 100%; height: 100%;">  
        </section>

        <section id="ladoDireito">
            <form [formGroup]="form" id="boxCadastro" (ngSubmit)="onSubmit()">
                <h1 id="tituloCadastro">Cadastro</h1> 

                <ul id="radiosGroup">
                    <li>
                        <input type="radio" formControlName="escolha" id="atletaRadio"
                         value="atleta" name="escolha" textoRadio="Sou atleta" /> 
                        <i class="fa-solid fa-circle-info"></i>
                      
                    </li>
                   <li>
                        <input type="radio" formControlName="escolha"  id="agenteRadio"
                         value="agente" name="escolha" textoRadio="Sou agente de lutas" />
                        <i class="fa-solid fa-circle-info"></i> 
                    </li>
                </ul> 

                <div *ngIf="form.get('escolha')?.invalid && form.get('escolha')?.touched">
                    <p class="error">Por favor, selecione uma opção.</p>
                </div>

                <button id="app-button" textoBtn="Criar conta" type="submit" >Entrar</button>
            </form>
        </section>
<!--
                <label for="inputData">Data de nascimento</label> 
                <app-datepicker />

                 <label for="inputText">CPF</label>
                <app-input-texto
                mask="000.000.000-00"
                id="inputText" 
                placeholder="" 
                border-color="var(--azul)"
                /> 

                <label for="genero">Gênero</label>
                <app-dropdown id="genero" [options]="['Masculino', 'Feminino', 'Outro']"> </app-dropdown>


                <label for="inputText"></label>
                <app-input-texto [(ngModel)]="email" #emailInput="ngModel"
                id="inputEmail" 
                placeholder="Email" 
                border-color="var(--azul)"
                value=""
                />

                <label for="inputSenha"></label>
                <app-input-senha [(ngModel)]="senha" #senhaInput="ngModel"
                id="inputSenha" 
                placeholder="Senha" 
                /> 

                <label for="inputConfirmarSenha"></label>
                <app-input-senha [(ngModel)]="confirmarSenha" #confirmarSenhaInput="ngModel"
                id="inputConfirmarSenha" 
                placeholder="Confirmar senha" 
                />  

                <ul id="termos">
                    <li>
                        <input type="checkbox" id="termoIdade" [(ngModel)]="termoIdade" #termoIdadeInput="ngModel" />
                         Confirmo ter mais de 18 anos
                    </li>
                    <li>
                        <input type="checkbox" id="termoLGPD" [(ngModel)]="termoLGPD" #termoLGPDInput="ngModel" />
                         Concordo com os termos da LGPD estabelecidos
                    </li> 
                </ul> 
 -->
            
        
    </div> 
</div>