#fundo {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;  
}

#quadrado {
    background-color: white;
    display: flex; 
    justify-content: center;
    height: 50rem; 
    margin-top: 5rem;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

#ladoEsquerdo { 
    width: 50rem;   
}

#ladoDireito {
    width: 45rem;     
    height: 100%;       /* Altura do elemento */
    /*  overflow-y: scroll;  Barra de rolagem apenas no eixo Y (vertical) */
    /*  border: 1px solid #ccc;  Opcional: adicionar uma borda para melhor visualização */ 
}

#boxCadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 2rem 0 2rem;
}

#boxCadastro label {
    font-size: 1.8rem;
    margin-top: 1rem;
    color: var(--vermelho); 
}

#tituloCadastro {
    font-size: 3rem;
    color: var(--azul); 
    font-weight: 600;
    width: 22rem;
    margin: 5rem 0 3rem 0;
    padding-bottom: 4rem;
    text-align: center;
    text-decoration: underline;
}

app-button {
    margin: 2rem;  
    text-align: center;
}

#radiosGroup {
    margin-top: 2rem;
    display: flex;
    flex-direction: column; 
    font-size: 1.2rem;  
}
 
#radiosGroup li i {
  margin: 0 1rem;
}
 
#termos {
  display: flex;
  flex-direction: column;
  justify-items: center;
  font-size: 1.1rem;
  margin-top: 2rem;
} 

#termos li {  
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

#termos input { 
  height: 1.5rem;
  width: 1.5rem;
}

.erro {
  color: #ff0000;
}

#dataComponent .mat-form-field {
    background-color: #f0f0f0;  
    border-radius: 4px;
    background-color: #ff0000; 
    color: white;
    border-color: white;
  }
  
  .mat-datepicker-toggle {
    background-color: #ff0000; 
    color: white;
    border-color: white;
    color: #1976d2; /* Cor do ícone do datepicker */
  }
  
  .mat-datepicker-toggle button {
    background-color: #ff0000; 
    color: white;
    border-color: white; 
  }
  
  .mat-calendar { 
    background-color: #ff0000; 
    color: white;
    border-color: white;
  }
  
  .mat-calendar-body-selected, 
  .mat-calendar-body-active {
    background-color: #ff0000; 
    color: white;
    border-color: white;
  }

  .mat-input-element {
    background-color: white; /* Cor de fundo branca */
    color: black; /* Cor do texto */
  }
  
  /* Se você quiser personalizar o campo no modo 'fill' */
.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: white; /* Cor de fundo do contêiner */
  }
  
  /* Para personalizar o estado quando o input está focado */
  .mat-input-element:focus {
    background-color: white; /* Cor de fundo ao focar */
    color: black;
}
