<app-header />

<form id="fundo" [formGroup]="form" (ngSubmit)="atualizarDados()"> 
    <section id="foto">
        <i *ngIf="!imageUrl" class="fa-solid fa-circle-user"></i> 
        <img *ngIf="imageUrl" [src]="imageUrl" alt="Imagem Selecionada" src="assets\teste2.jpeg" />
         
        <input type="file"
        #fileInput
        (change)="escolherFotoPerfil($event)"
        style="display: none"
        
        /> 
        
        <app-botao-pequeno (click)="fileInput.click()">
            <i style="width: 0.8rem; height: 0.8rem;" class="fa-solid fa-file-arrow-up"></i>
        </app-botao-pequeno>
    </section> 
    <section id="infoPessoal">
        <ul> <!-- LISTA 1 -->
            <li>
                <app-input-texto
                formControlName="nomeUser"
                id="inputNome"
                placeholder="Nome" 
                /> 
            <li>
                <app-input-texto
                formControlName="cpf"
                id="inputCPF" 
                placeholder="CPF"
                />
                <p> * </p>
            </li>
            <li>   
                <app-dropdown 
                formControlName="genero"
                id="selectGenero" 
                [options]="['Gênero', 'Masculino', 'Feminino', 'Outro']" 
                placeholder = 'Gênero'  
                />  
                <p> * </p>
            </li> 
            <li>
                <app-input-texto 
                formControlName="dataNascimento"
                id="inputDataNascimento" 
                placeholder="Data de Nascimento"
                />
                <p> * </p>
            </li> 
        </ul>
        <ul> <!-- LISTA 2 -->
            <li>
                <app-input-texto
                formControlName="peso"
                id="selectPeso" 
                placeholder="Peso"
                />
                <p> * </p>
            </li> 
            <li>
                <app-input-texto 
                formControlName="altura"
                id="inputAltura" 
                placeholder="Altura"
                />
                <p> * </p>
            </li>
            <li>
                <app-input-texto 
                formControlName="telefone"
                id="inputTelefone" 
                placeholder="Telefone"
                /> 
            </li>
            <li>
                <app-input-texto
                formControlName="pais" 
                id="inputPais" 
                placeholder="País"
                />
                <p> * </p>
            </li> 
        </ul>
        <ul> <!-- LISTA 3 -->
            <li>
                <app-input-texto 
                formControlName="estado"
                id="inputEstado" 
                placeholder="Estado"
                />
                <p> * </p>
            </li>
            <li>
                <app-input-texto 
                formControlName="cidade"
                id="inputCidade" 
                placeholder="Cidade"
                />
                <p> * </p>
            </li>
            <li>
                <app-input-texto
                formControlName="academia"
                id="inputAcademia" 
                placeholder="Academia"
                />
            </li>
            <li>   
                <app-dropdown
                formControlName="modalidade"
                id="selectModalidade" 
                [options]="['Modalidade Favorita', 'Judo', 'Karatê', 'Jiu-Jitsu', 'Boxe', 'Muay Thai', 'Taekwondo', 'Capoeira ', 'Kung Fu', 'Krav Maga']" 
                placeholder = 'Modalidade'  
                />
                <p> * </p>
            </li>
            <!-- <li>   
                <app-dropdown
                id="selectExperiencia"
                [options]="['Experiência', 'Nenhuma Experiência', 'Pouca Experiência', 'Experiência Média', 'Bem Experiente', 'Muito Experiente']" 
                placeholder = 'Modalidade'  
                 />  
            </li>
                <app-input-texto 
                id="inputEmail" 
                placeholder="email"
                />
            </li>
            <li>
                <app-input-senha 
                id="inputSenha" 
                placeholder="********" 
                />
            </li>  -->
        </ul> 
    </section> 

    <section id="botoes">
        <ul>
            <li> <app-button textoBtn="Salvar" backgroundColor="var(--azul)" /> </li>
            <li> <app-button textoBtn="Cancelar" backgroundColor="var(--vermelho)" /> </li>
        </ul>
    </section>

    <!--     
    DESCRIÇÃO
    EXPERIENCIA
    -->

</form>

<app-footer />