#fundo {
    margin: 0 0 10rem 0;
}

#foto {
    display: flex;
    margin: 3rem 3rem 0rem 7rem;
    font-size: 10rem;
    justify-content: center;  
}

#foto img, #foto i { 
    display: flex; 
    width: 15rem;  
    height: 15rem;  
    border-radius: 50%; /* Faz a imagem ficar redonda */
    object-fit: cover; /* Garante que a imagem preencha o círculo */ 
    align-items: center;
    margin: 1rem;
 }
 
.fa-circle-user {
    color: gray; 
    font-size: 15rem;
}

.fa-file-arrow-up {
    color: rgb(255, 255, 255); 
    font-size: 1.5rem;
}

#uploadFoto {
    height: 2rem;
}
 
#infoPessoal {
    display: flex;
    margin: 1rem 2rem; 
    justify-content: center;
    text-align: center; 
}
  
#infoPessoal ul {
    display: flex;
    width: 26rem;
    margin: 0 2rem;
    flex-direction: column;
    align-items: center;
}

#infoPessoal ul li { 
    display: flex;
    margin-top: 1rem;
    align-items: center;
    align-items: flex-start;
    width: 21rem;
}

#infoPessoal ul li p {
    color: red;
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

#botoes { 
    text-align: center; 
    margin: 3rem 0.5rem; 
}

#botoes ul {
    display: flex;
    justify-content: center;
}

#botoes ul li { 
    margin: 2rem;
}

#idade {
    width: 3rem;
    height: 1rem;
}

#inputPeso {
    position: relative;
    display: inline-block;
}
  
#inputPeso input {
    padding-right: 0rem; /* Espaço para o sufixo */
}

#inputPeso::after {
    content: '(Kg)';
    position: absolute;
    right: 6rem;
    top: 55%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #000000;  
    font-size: 1.1rem;
}

#inputAltura {
    position: relative;
    display: inline-block;
}
  
#inputAltura input {
    padding-right: 0rem; /* Espaço para o sufixo */
}

#inputAltura::after {
    content: '(m)';
    position: absolute;
    right: 6rem;
    top: 55%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #000000;  
    font-size: 1.1rem;
}