#fundo {
    margin: 0 0 10rem 0;
}

#foto {
    display: flex;
    margin: 2rem 3rem 0rem 5rem;
    font-size: 10rem; 
    text-align: center;  
    justify-content: center; 
}

#foto img, #foto i { 
    display: flex; 
    width: 15rem;  
    height: 15rem;  
    border-radius: 50%; /* Faz a imagem ficar redonda */
    object-fit: cover; /* Garante que a imagem preencha o círculo */ 
    justify-content: center;
    align-items: center;
    margin: 1rem;
 }
 

 .fa-solid {
    color: white; 
    background-color: gray;
 }
 
#infoPessoal {
    display: flex;
    margin: 1rem 2rem; 
    justify-content: center;
    text-align: center; 
}
  
#infoPessoal ul {
    width: 26rem;
    margin: 0 4rem;
}

#infoPessoal ul li { 
    display: flex;
    margin-top: 1rem;
    align-items: center; 
    width: 40rem;  
}

#botoes { 
    text-align: center; 
    margin: 0.5rem; 
}

#botoes ul {
    display: flex;
    justify-content: center;
}

#botoes ul li { 
    margin: 2rem;
}

#idade {
    width: 3rem;
    height: 1rem;
}