#botao {
    width: 11rem;
    height: 3.5rem; 
    max-height: 4.5rem;
    max-width: 16rem;
    text-align: center;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;   
    font-size: 1.2rem;
}

#botao:active { 
    transform: scale(0.95); 
    background-color: rgb(150, 31, 78); 
}