<app-header />

<section id="desenvolvedores">
    <p id="tituloPrincipal">Desenvolvedores do Fight Finder</p>
    
    <ul id="listaDevs">
        <li class="perfil">
            <div class="nomeEFoto">
                <img src="assets/Danilo.png"> <p class="nome">Danilo Lugli dos Santos</p> 
                <i class="fa-solid fa-chevron-up" (click)="mostraDesc(1)" *ngIf="dropdown1"></i>
                <i class="fa-solid fa-chevron-down" (click)="mostraDesc(1)" *ngIf="!dropdown1"></i>
            </div>
            <hr class="hrDesc" *ngIf="dropdown1" />
            <p class="descricao" *ngIf="dropdown1">  
                Sou programador Java e, ironicamente, fui responsável por desenvolver o Front-end do sistema em Angular.    
            </p>
        </li>

        <li class="perfil">
            <div class="nomeEFoto">
                <img src="assets/IMG_1312.jpg"><p class="nome">Eduardo Felipe Calderoni</p>
                <i class="fa-solid fa-chevron-up" (click)="mostraDesc(2)" *ngIf="dropdown2"></i>
                <i class="fa-solid fa-chevron-down" (click)="mostraDesc(2)" *ngIf="!dropdown2"></i>
            </div>
            <hr class="hrDesc" *ngIf="dropdown2" />
            <p class="descricao" *ngIf="dropdown2">    
                Neste projeto atuei como Designer UX do sistema e criei os protótipos das telas através das ferramentas Webflow e Figma.       
            </p>
        </li>

        <li class="perfil">
            <div class="nomeEFoto">
                <img src="assets/IMG_1314.jpg"> <p class="nome">Guilherme Castilho Feitosa</p>
                <i class="fa-solid fa-chevron-up" (click)="mostraDesc(3)" *ngIf="dropdown3"></i>
                <i class="fa-solid fa-chevron-down" (click)="mostraDesc(3)" *ngIf="!dropdown3"></i>
            </div>
            <hr class="hrDesc" *ngIf="dropdown3" />
            <p class="descricao" *ngIf="dropdown3">  
                Trabalho com data science e desenvolvi o back-end em Python e o Banco de Dados utilizado foi Sqlite3 no projeto.     
            </p>
        </li>
    </ul>
</section>

<section id="faixaAzul">
    <h2>O que é o Fight Finder?</h2> <br><br><br>
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        É um Sistema de Agendamento de Combates desenvolvido por três estudantes do curso de Ciência da Computação como Trabalho de Conclusão de Curso em 2024. <br><br><br>
   
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        O objetivo geral do projeto é incentivar a prática de esportes marciais e promovê-los para aumentar a visibilidade de atletas amadores e profissionais.
        O Fight Finder aceita e encoraja a participação de todos visando a evolução do esporte e das pessoas.<br><br><br>
   
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Em poucos cliques você consegue selecionar as pessoas que deseja treinar ou lutar e crescer no mundo das Artes Marciais!
    </p>
</section>

<section id="objetivosFuturos">  <!-- colocar ícones (4) e escrever objetivos para o futuro do projeto (dominio URl, escalabilidade, modo premium) -->
    <h1>Objetivos para o Futuro</h1> <br>
    <ul class="listaObjetivos">
        <li>
            <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
            <p>Escalabilidade</p>
        </li>
        <li>
            <i class="fa-solid fa-crown"></i>
            <p>Modo Premium</p>
        </li> 
        <li>
            <i class="fa-solid fa-chart-pie"></i> 
            <p>Gráficos de Desempenho</p>
        </li> 
     
        <li>
            <i class="fa-solid fa-mobile-button"></i>
            <p>Versão Mobile</p>
        </li>
        <li>
            <i class="fa-regular fa-comment"></i>
            <p>Sistema de Feedback</p>
        </li> 
        <li>
            <i class="fa-solid fa-bug-slash"></i>
            <p>Melhorias nas Funcionalidades</p>
        </li> 
    </ul> 
</section>

<app-footer />