input {
    font-size: 1.3rem;
    margin-top: 0.3rem;
    text-align: center;
    height: 3rem;
    width: 20rem;
    border: 2px solid var(--vermelho); 
    border-radius: 5px;  
}

input:hover { 
    border: 2px solid var(--azul);   
}

input:focus {
    border: 2px solid var(--azul);   
}