 <app-header></app-header>
  
    <title>Home</title>
    
    <section>
        <h1 id="tituloPrincipal">Fight Finder</h1>
        
    </section>


    <!-- colocar sombra nos boxs  -->
    <section>
        <ul>
            <li class="cards">
                <a href="/match-treino"> 
                    <p id="img-button">Treinar</p>  
                    <img src="assets\treino.jpeg" id="imgCard1" />  
                </a>  
                
            </li>
            <li class="cards">
                <a href="/match-luta">
                    <p id="img-button">Encontrar Luta</p>  
                    <img src="assets\teste1.jpeg" id="imgCard2" /> 
                </a>
            </li>
            <li class="cards">
                <a href="/ranking">
                    <p id="img-button">Ranking</p>  
                    <img src="assets\teste6.jpeg" id="imgCard3" /> 
                </a>  
            </li>
        </ul> 

    </section>

   <section id="faixaAzul">
        <h2 style="font-weight: 500;">O que é o Fight Finder?</h2>
    <br>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            É um Sistema de Agendamento de Combates desenvolvido por três estudantes do curso de Ciência da Computação como trabalho de TCC em 2024. <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            O objetivo geral do projeto é incentivar a prática de esportes marciais e promovê-los para aumentar a visibilidade de atletas amadores e profissionais.
            O Fight Finder aceita e incentiva a participação de iniciantes até esportistas experientes para a evolução do esporte. <br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Em poucos cliques você consegue selecionar as pessoas que deseja treinar ou lutar e crescer no mundo das Artes Marciais!
        </p>
   </section>

<app-footer></app-footer>  
    
    
     