#tituloPrincipal {
    font-size: 9.5rem;
    font-weight: bold;
    margin: 8rem 0rem 6rem 6rem;
    text-decoration: underline; 
}


section ul {
    display: flex;
    justify-content: center;
    margin: 7rem 0;
}

.cards {
    position: relative;
    display: inline-block;  
    width: 27%;
    height: 30rem;
    margin: 3rem;
    text-align: center; 
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2); 
}

.cards:hover {
    transform: scale(1.05); 
    transition: transform 0.3s ease;
} 

section ul li a {
    text-decoration: none;
}

section ul li a p {  
    width: 16rem;
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--vermelho);  
    line-height: 4rem;
    border-bottom: 2px solid var(--vermelho);
    border-radius: 10px;  
} 

section ul li a img { 
    display: block;
    background-color: black; 
}

#img-button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.74); /* Fundo semi-transparente */
  border: none;
  padding: 5px 5px;
  cursor: pointer;
}

#imgCard1 {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 2px;
}

#imgCard2 {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 2px;
}

#imgCard3 {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 2px;
}

#faixaAzul {
    margin-top: 3rem;
    height: 30rem;
    background-color: var(--azul);
    padding: 5rem;
    color: white; 
}

#faixaAzul h2 {
    font-size: 3rem;
}

#faixaAzul p {
    margin-top: 3rem;
    font-size: 2rem;
}

/* Ajustes para dispositivos maiores */
@media (min-width: 768px) {
    #tituloPrincipal {
        font-size: 6rem; 
        margin: 4rem 2rem;
    }

    .cards {
        width: 45%; /* Metade da largura em tablets */
        height: auto;
        margin: 2rem;
    }
}

/* Ajustes para desktops */
@media (min-width: 1200px) {
    #tituloPrincipal {
        font-size: 9.5rem; 
        margin: 6rem 3rem;
    }

    .cards {
        width: 27%; /* Volta ao tamanho original */
        height: 30rem;
        margin: 3rem;
    }
}