 <app-header></app-header>
  
    <title>Home</title>
    <section>
        <h1 id="tituloPrincipal">Fight Finder</h1>
    </section>

    <!-- colocar sombra nos boxs  -->
    <section>
        <ul>
            <li class="cards">
                <a href="/match-treino"> 
                    <p id="img-button">Treinar</p>  
                    <img src="assets\treino.jpeg" id="imgCard1" />  
                </a>  
                
            </li>
            <li class="cards">
                <a href="/match-luta">
                    <p id="img-button">Encontrar Luta</p>  
                    <img src="assets\teste1.jpeg" id="imgCard2" /> 
                </a>
            </li>
            <li class="cards">
                <a href="/ranking">
                    <p id="img-button">Ranking</p>  
                    <img src="assets\teste6.jpeg" id="imgCard3" /> 
                </a>  
            </li>
        </ul> 
    </section>
 
<app-footer></app-footer>  
    
    
     