#header {
    display: block;
    width: 100%;
    top: 0;
    font-size: 2rem;  
    max-height: 150px;
    margin-bottom: 0rem; 
    background-color: white;
}

#menu { 
    display: flex;
    align-items: center;
}
 
#logo {
    width: 6.5rem;
    height: 6rem;
    margin: 0;
    padding: 0;
    margin-left: 2rem;
} 
  
#logo a img {
    width: 100%; 
    height: 100%;
}

#menu #listaLinks { 
    display: flex; 
    list-style-type: none;
    justify-content: center; 
    align-items: center;
    width: 90%;
    padding: 1rem 0;
}

#menu #listaLinks li {
    font-weight: 600; 
    padding: 1rem 1.5rem; 
    cursor: pointer;
}

#menu #listaLinks li:hover {
    transform: scale(1.05);
}

#menu #listaLinks li:active {
    transform: scale(1.0);
}

.active-title {
    text-decoration: underline;
}

span {
    text-align: center;     
    align-content: end;
}

#login {
    width: 10%; 
    font-weight: 300;
    text-align: center;
    padding: 1rem 0;
    align-items: center;
}

#login a { 
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 2px solid var(--vermelho);
    background-color: white;
    color: var(--vermelho);
    text-decoration: none;
}

#login a:hover {   
    border: 2px solid var(--vermelho);
    color: white;
    background-color: var(--vermelho);
    text-decoration: none;
    transform: scale(0.15); 
}

#foto {
    display: flex; 
    margin-right: 2rem;
    font-size: 10rem; 
    text-align: center;  
    justify-content: center; 
}

#foto img, #foto i { 
    display: flex; 
    width: 4rem;  
    height: 4rem;  
    border-radius: 50%; /* Faz a imagem ficar redonda */
    object-fit: cover; /* Garante que a imagem preencha o círculo */ 
    justify-content: center;
    align-items: center;
    margin: 1rem;
    cursor: pointer;
}
 
.fa-circle-user {
    color: gray;
    font-size: 3.5rem;
}

#listaOpcoes {
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 1.5rem;
    background-color: white;
    margin-top: 5rem;
    margin-right: 12rem;
    border: 1px solid var(--cinza);
    border-radius: 5px;
}

#listaOpcoes li {
    width: 14rem;
    margin: 1rem;
}

#listaOpcoes li:hover {
    font-weight: 600;
}

#listaOpcoes li a {
    text-decoration: none;
    list-style-type: none;
    color: black;
    cursor: pointer;
}

#listaOpcoes li label {
    color: red;
    cursor: pointer;
}

#linhaDupla {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
}

#linhaDupla #linhaAzul, #linhaDupla #linhaVermelha {
    width: 100%; 
    padding: 0;
    margin: 0; 
}

#linhaAzul {
    background-color: var(--azul);
    height: 7px;
    border: 0px;
}

#linhaVermelha {
    background-color: var(--vermelho);
    height: 5px;
    border: 0px;
}