<header id="header">
    <div id="menu">
        <section id="logo">
            <a href="/home"><img src="assets\logoFundoBranco.jpg"></a>  
        </section>

        <ul> 
            <li><a href="#">Eventos</a></li>
            <li><a href="/ranking">Ranking</a></li>
            <li><a href="/match-luta">Match</a></li> 
            <li><a href="/match-treino">Treinar</a></li> 
            <li><a href="#">Sobre nós</a></li>
            <li><a href="/perfil">Perfil*</a></li>
        </ul>
    
        <div id="login">
            <a href="/login">Login</a> <!-- ngIf  PERFIL, CONFIGS, LOGOUT -->
        </div>
    </div>

    <div id="linhaDupla">
        <hr style="background-color: var(--azul); height: 7px; border: 0px;" />  
        <hr style="background-color: var(--vermelho); height: 5px; border: 0px;" /> 
    </div>
</header> 
