<header id="header">
  <div id="menu">
    <section id="logo">
      <a href="/home"><img src="assets\logoFundoBranco.jpg" /></a>
    </section>

    <ul id="listaLinks">
      <li 
      *ngFor="let page of pages"
      [routerLink]="page.link"
      routerLinkActive="active"
      [ngClass]="{ 'active-title': isCurrentPage(page.link) }">
        {{ page.title }} 
      </li>
    </ul>

    <div id="foto">
      <a (click)="abrirLista()">
        <i *ngIf="!imagemPerfilUrl" class="fa-solid fa-circle-user"></i>
        <img
          *ngIf="imagemPerfilUrl"
          alt="Imagem Selecionada"
          [src]="imagemPerfilUrl" alt="Imagem de Perfil"
        />
      </a>
      <ul id="listaOpcoes" *ngIf="mostraLista">
        <li>
          <a href="/perfil">Perfil</a>
        </li>
        <li>
          <a href="/cartel-profile">Cartel</a>
        </li>
        <li>
          <label (click)="logout()">Sair</label>
        </li>
      </ul>
    </div>
  </div>

  <div id="linhaDupla">
    <hr id="linhaAzul" />
    <hr id="linhaVermelha" />
  </div>
</header>
