<header id="header">
    <div id="menu">
        <section id="logo">
            <a href="/home"><img src="assets\logoFundoBranco.jpg"></a>  
        </section>

        <ul id="listaLinks"> 
            <li><a href="#">Eventos</a></li>
            <li><a href="/ranking">Ranking</a></li>
            <li><a href="/match-luta">Match</a></li> 
            <li><a href="/match-treino">Treinar</a></li> 
            <li><a href="/sobre-nos">Sobre nós</a></li> 
        </ul>
    
        <div *ngIf="!usuarioLogado" id="login">
            <a href="/login">Login</a> <!-- ngIf  PERFIL, CONFIGS, LOGOUT --> 
        </div>
            
        <div *ngIf="usuarioLogado" id="foto"> 
            <a *ngIf="usuarioLogado" (click)="abrirLista();">
                <i *ngIf="semFoto" class="fa-solid fa-circle-user"></i>
                <img *ngIf="!semFoto" alt="Imagem Selecionada" src="assets\teste5.jpeg" />
            </a> 
            <ul id="listaHeader" *ngIf="mostraLista">
                <li>
                    <a href="/perfil">Perfil</a>
                </li> 
                <li>
                    <a href="#">Configurações</a>
                </li> 
                <li>
                    <a href="login">Sair</a>
                </li>
            </ul>
        </div> 
    </div>

    <div id="linhaDupla">
        <hr style="background-color: var(--azul); height: 7px; border: 0px;" />  
        <hr style="background-color: var(--vermelho); height: 5px; border: 0px;" /> 
    </div>
</header> 
