#divTabela {
    display: flex;
    justify-content: center; 
    margin: 2rem;
    max-height: 40rem;
    overflow-y: auto;  /* Ativa a barra de rolagem vertical */
}

#tabelaRanking { 
    display: flex;
    border-radius: 15px; 
    width: 100%;
} 

#inputTextPeso {
    position: relative;
    display: inline-block;
}
  
#inputTextPeso input {
    padding-right: 3rem; /* Espaço para o sufixo */
}

#inputTextPeso::after {
    content: '(Kg)';
    position: absolute;
    right: 0.5rem;
    top: 55%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #000000;  
    font-size: 1.1rem;
}