<app-header />
    <section id="main">

        <div id="filtros"> 
            <ul>
                <li>
                    <app-input-texto [maxLength]="50"  id="inputText" placeholder="Nome lutador(a)" /> 
                    <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
                </li> 

                <li>
                    <app-input-texto [maxLength]="3" id="inputTextPeso" placeholder="Peso" />  
                </li>

                <li>
                    <app-dropdown 
                    [options]="['Modalidade', 'Judo', 'Karatê', 'Jiu-Jitsu', 'Boxe', 'Muay Thai', 'Taekwondo', 'Capoeira ', 'Kung Fu', 'Krav Maga']" 
                    placeholder = 'Modalidade'  
                    (optionSelected)="onOptionSelected($event)"
                    /> 
                    <!-- <p *ngIf="erroMsg" id="erroMsg">Selecione uma modalidade!</p> -->
                </li>
                <li> 
                    <app-button backgroundColor="var(--vermelho)" textoBtn="Buscar" (click)="buscarLutadores()"></app-button>
                    <app-loading *ngIf="loading"></app-loading>      
                </li> 
            </ul>
        </div>
            
        <div id="divTabela">
            <app-table id="tabelaRanking" [columns]="columns" [data]="data"></app-table>
        </div> 
    </section>

<app-footer />