#filtros { 
    display: flex;
    margin: 3rem 0 1rem 0;
    text-align: center;
    justify-content: center; 
}

#filtros ul {
    padding: 0.7rem 0.5rem 1rem 0.5rem;
    width: 90%;
    display: flex; 
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 2rem; 
    border-radius: 15px;
    background-color: white;
}

#filtros ul li {  
    justify-content: center;
}

#filtros i {
    position: absolute;
    top: 45%;
    left: 22rem; /* Ajuste conforme necessário */
    transform: translateY(-10%);
    pointer-events: none; /* Para não interferir no clique do input */
    color: #707575;
}

#inputText {
    position: relative;
    display: flex;
    align-items: center;
}

.fa-solid { 
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
} 

#erroMsg {
    font-size: 1rem;
    color: red;
    text-align: center;
    margin-top: 0.5rem;
}

#divTabela {
    display: flex;
    justify-content: center; 
    margin: 2rem;
}

#tabelaRanking { 
    display: flex;
    border-radius: 15px; 
    width: 100%; 
} 


#inputTextPeso {
    position: relative;
    display: inline-block;
}
  
#inputTextPeso input {
    padding-right: 3rem; /* Espaço para o sufixo */
}

#inputTextPeso::after {
    content: '(Kg)';
    position: absolute;
    right: 0.5rem;
    top: 55%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #000000;  
    font-size: 1.1rem;
}