<app-header />
<form class="container" [formGroup]="form">

  <div class="profile">
    <div class="profile-header">
      <div>
        <h2>{{ form.get('nomeUser')?.value }}</h2>
        <span *ngIf="completouCadastro">"Junior"</span>
      </div>
      <div style="text-align: right">
        <span *ngIf="completouCadastro">{{ form.get('pais')?.value }}</span><br />
        <span *ngIf="completouCadastro">{{ form.get('cidade')?.value }}, {{ form.get('estado')?.value }}</span><br />
        <img *ngIf="completouCadastro"
          src="https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg"
          alt="Bandeira do Brasil"
          width="30"
        />
      </div>
    </div>

    <div class="info-box">
      <div >Idade: <label *ngIf="completouCadastro">{{ form.get('idade')?.value }} anos</label></div>
      <div>Gênero: <label *ngIf="completouCadastro">{{ form.get('genero')?.value }}</label></div>
      <div>
        Altura: <label *ngIf="completouCadastro">{{ form.get('altura')?.value }}m</label> &nbsp; | &nbsp;
        Peso: <label *ngIf="completouCadastro">{{ form.get('peso')?.value }}kg</label>
      </div>
      <div>Academia: <label *ngIf="completouCadastro">{{ form.get('academia')?.value || "-"}}</label></div>
    </div>

    <div class="stats">
      <div class="win">
        VITÓRIAS <span *ngIf="completouCadastro">14</span>
      </div>
      <div class="draw">
        EMPATES <span *ngIf="completouCadastro">3</span>
      </div>
      <div class="loss">
        DERROTAS <span *ngIf="completouCadastro">9</span>
      </div>
    </div>
  </div>
</form>
<app-footer />