<app-header />
<form class="container" [formGroup]="form">

  <div class="profile">
    <div class="profile-header">
      <div>
        <h2>{{ form.get('nomeUser')?.value }}</h2>
        <span>"Junior"</span>
      </div>
      <div style="text-align: right">
        <span>{{ form.get('pais')?.value }}</span><br />
        <span>{{ form.get('cidade')?.value }}, {{ form.get('estado')?.value }}</span><br />
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg"
          alt="Bandeira do Brasil"
          width="30"
        />
      </div>
    </div>

    <div class="info-box">
      <div>Idade: {{ form.get('idade')?.value }} anos</div>
      <div>Gênero: {{ form.get('genero')?.value }}</div>
      <div>
        Altura: {{ form.get('altura')?.value }}m &nbsp; | &nbsp;
        Peso:  {{ form.get('peso')?.value }}kg
      </div>
      <div>Academia: {{ form.get('academia')?.value }}</div>
    </div>

    <div class="stats">
      <div class="win">
        VITÓRIAS <span>14</span>
      </div>
      <div class="draw">
        EMPATES <span>3</span>
      </div>
      <div class="loss">
        DERROTAS <span>9</span>
      </div>
    </div>
  </div>
</form>
<app-footer />