input {
    width: 20rem;
    height: 3.2rem;
    border: 2px solid var(--vermelho); 
    border-radius: 5px; 
    font-size: 1.3rem;
    margin-top: 0.3rem;
    padding: 0 1rem;
    text-align: center;
}
 
input:hover { 
    border: 2px solid var(--azul);   
}

input:active { 
    border: 2px solid var(--azul); 
}

input:focus { 
    border: 2px solid var(--azul);   
}

.password-input-container {
    position: relative;
    display: flex;
    align-items: center;
  } 
  
  .password-input-container button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }
  
  .password-input-container button:focus {
    outline: none;
  }