<app-header />

<section>  
    <div id="cabecalhoMatch">
        <app-dropdown 
        id="listaModalidades"
        [options]="['Modalidade', 'Judo', 'Karatê', 'Jiu-Jitsu', 'Boxe', 'Muay Thai', 'Taekwondo', 'Capoeira ', 'Kung Fu', 'Krav Maga']" 
        value = ''  
        (optionSelected)="onOptionSelected($event)" 
        />  
        <app-button textoBtn="Buscar" id="btnBuscar"  backgroundColor="var(--vermelho)" (click)="buscarAdversarios()" />
    </div>
    
    <section id="main">
        <div id="voce">
            <div id="foto">
                <i *ngIf="semFoto == true" class="fa-solid fa-user"></i> <img src="assets\teste7.jpeg" />
            </div>
            <div class="descricaoAtleta">
                <ul style="font-size: 2rem;">
                    Você 
                </ul>
            </div>
        </div>

        <p style="font-size: 10rem; font-weight: bold;" id="vs"> X </p>
        <div id="adversario">
            <div id="foto">
                <i *ngIf="!carregarAdversarios" class="fa-solid fa-question"></i>  
                 <img *ngIf="carregarAdversarios" src="assets\teste5.jpeg" /> 
            </div>
            <div class="descricaoAtleta">
                <ul *ngIf="carregarAdversarios">
                    <li id="nomeAdversario">João Tromba Grossa</li>  
                    <li>32 anos</li>  
                    <li>81 kg</li>
                    <li>Pouco Experiente</li>
                </ul>
            </div>  
        </div>

    </section>

    <section id="botoes"> 
        <app-button *ngIf="carregarAdversarios" textoBtn="FIGHT!" backgroundColor="var(--vermelho)">
        
        </app-button>
        <app-button *ngIf="carregarAdversarios" textoBtn="Próximo"></app-button>
    </section>

</section> 

<app-footer />