#cabecalhoMatch {
   display: flex;
   margin: 4rem 0;
   text-align: center;
   justify-content: center; 
   align-items: flex-end;
   gap: 2rem;
}

#main {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 2rem; 
}

#voce {
   display: flex;
   flex-direction: row-reverse;
   width: 40%;
}

#vs {
   width: 10%;
   text-align: center;
}

#adversario {
   display: flex;
   flex-direction: row;
   width: 40%;
}

#foto { 
   text-align: center; 
   align-items: center;
   margin: 0 2rem 2rem 2rem;
}
  
#foto img, #foto i { 
    display: flex; 
    width: 22rem;  
    height: 22rem;  
    border-radius: 50%; /* Faz a imagem ficar redonda */
    object-fit: cover; /* Garante que a imagem preencha o círculo */ 
    align-items: center;
    margin: 1rem;
}

.fa-solid {
   color: white; 
   background-color: gray;
}

.fa-question {
   display: flex;
   font-size: 15rem;
   justify-content: center;
}

.descricaoAtleta {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   font-size: 2rem; 
}

.descricaoAtleta ul li {
   padding: 0.5rem 0;
}
 
#voce, #nomeAdversario {
   font-weight: bold;
}

#botoes {
   display: flex;
   text-align: center;
   justify-content: center;
   gap: 5rem;
}