<app-header />

<section>
    <div id="divCombateTreino">
        <button *ngIf="combate" id="opcaoCombate" (click)="ativarCombate()">Combate</button>
        <button *ngIf="!combate" id="opcaoCombateDesativado" (click)="ativarCombate()">Combate</button>

        <button *ngIf="treino" id="opcaoTreino" (click)="ativarTreino()">Treino</button>
        <button *ngIf="!treino" id="opcaoTreinoDesativado" (click)="ativarTreino()">Treino</button>
    </div>

    <div id="cabecalhoMatch">
        <app-button *ngIf="combate"
        textoBtn="Buscar" id="btnBuscar" backgroundColor="var(--vermelho)" (click)="buscarAdversariosCombate()" />

        <app-button *ngIf="treino" textoBtn="Buscar" id="btnBuscar" (click)="buscarAdversariosTreino()" />
    </div>
    
    <section id="main">
        <!-- Card do Usuário -->
        <div id="voce">
            <div id="foto">
                <i *ngIf="!imagemPerfilUrl" class="fa-solid fa-user"></i> 
                <img *ngIf="imagemPerfilUrl" [src]="imagemPerfilUrl" />
            </div>
            <div class="descricaoAtleta" *ngIf="completouCadastro">
                <ul>
                    <li>{{ form.get('nomeUser')?.value }}</li>
                    <li>{{ form.get('idade')?.value }} anos</li>
                    <li>{{ form.get('peso')?.value }} kg</li>
                    <li>{{ form.get('altura')?.value }} m</li>
                    <li>{{ form.get('modalidade')?.value }}</li>
                    <li>{{ form.get('cidade')?.value }}, {{ form.get('estado')?.value }}</li>
                </ul>
            </div>
        </div>
    
        <!-- Separador "VS" -->
        <p style="font-size: 10rem; font-weight: bold;" id="vs"> X </p>
    
        <!-- Card do adversário atual -->
        <div id="adversario" *ngIf="!adversarioAtual">
            <i class="fa-regular fa-question"></i>
        </div>
        <div id="adversario" *ngIf="adversarioAtual">
            <div *ngIf="imgAdversarioAtualPerfilUrl" id="foto">
                <img [src]="imgAdversarioAtualPerfilUrl" />
            </div>
            <div *ngIf="!imgAdversarioAtualPerfilUrl" id="foto">
                <i *ngIf="!imgAdversarioAtualPerfilUrl" class="fa-solid fa-user"></i> 
            </div>
            <div class="descricaoAtleta">
                <ul>
                    <li>{{ adversarioAtual.nome }}</li>
                    <li> {{ idadeAdversario }} anos</li>
                    <li>{{ adversarioAtual.peso }} kg</li>
                    <li>{{ adversarioAtual.altura }} m</li>
                    <li>{{ adversarioAtual.modalidade }}</li>
                    <li>{{ adversarioAtual.cidade }}, {{ adversarioAtual.estado }}</li>
                </ul>
            </div>
        </div>
    </section>

    <div id="fight" *ngIf="adversarioAtual">
        <app-button *ngIf="combate" textoBtn="FIGHT!" backgroundColor="var(--vermelho)" (click)="createConnection()"></app-button>
        <app-button *ngIf="treino" textoBtn="Quero Treinar!" backgroundColor="var(--vermelho)" (click)="createConnection()"></app-button>
        
    </div>
    
    <section id="botoes" *ngIf="adversarioAtual">
        <app-button *ngIf="indiceAtual==0" textoBtn="Anterior" backgroundColor="var(--cinza-escuro)"></app-button>
        <app-button *ngIf="indiceAtual!=0" textoBtn="Anterior" (click)="adversarioAnterior()"></app-button>
        
        <app-button *ngIf="indiceAtual+1==qtdRecomendacoes" textoBtn="Próximo" backgroundColor="var(--cinza-escuro)"></app-button>
        <app-button *ngIf="indiceAtual+1!=qtdRecomendacoes" textoBtn="Próximo" (click)="proximoAdversario()"></app-button>
    </section>
</section> 

<app-footer />