#cabecalhoMatch {
   display: flex;
   margin: 3rem 0 4rem 0;
   text-align: center;
   justify-content: center; 
   align-items: flex-end;
   gap: 2rem;
}

#main {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 2rem 2rem 9rem 2rem; 
}

#voce {
   display: flex;
   flex-direction: row-reverse;
   width: 40%; 
}

#vs {
   width: 10%;
   text-align: center;
   padding: 0;
   margin: 0;
   color: white; /* Cor do texto */
  text-shadow: 
    -1px -5px 0 var(--azul),  /* Borda superior esquerda */
    5px -1px 0 var(--azul),   /* Borda superior direita */
    -1px 5px 0 var(--vermelho),   /* Borda inferior esquerda */
    5px 1px 0 var(--vermelho);    /* Borda inferior direita */
}

#adversario {
   display: flex;
   flex-direction: row;
   width: 40%;
}

#foto { 
   text-align: center; 
   align-items: center;
   margin: 0rem 1rem;
}
  
#foto img, #foto i { 
    display: flex; 
    width: 22rem;  
    height: 22rem;  
    border-radius: 50%; /* Faz a imagem ficar redonda */
    object-fit: cover; /* Garante que a imagem preencha o círculo */ 
    align-items: center;
    margin: 1rem; 
}

.fa-solid {
   color: white; 
   background-color: gray;
}

.fa-user {
   display: flex;
   font-size: 12rem;
   justify-content: center;
}

.fa-question {
   display: flex;
   font-size: 18rem;
   justify-content: center;
   margin-left: 4rem;
}

.fa-face-angry {
   display: flex;
   font-size: 21rem;
   justify-content: center;
}

.descricaoAtleta {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   font-size: 2rem;
   text-decoration: dotted;
}

.descricaoAtleta ul li {
   padding: 0.7rem 0;
}
 
.descricaoAtleta ul li:nth-child(1) {
   font-weight: bold;
}

#botoes {
   display: flex;
   justify-content: center;
   gap: 2rem;
   padding-bottom: 5rem;
}

#botoes app-button {
   flex: 1; /* Permite que os botões cresçam igualmente */
   min-width: 150px; 
   padding: 10px 20px;
   max-width: 200px; 
}