<footer id="footer"> 
    <ul class="redes-sociais">
        <li><h2 class="nomeIntegrante">Danilo Lugli dos Santos</h2></li>
        <!-- <li>Contato: </li> -->
        <li><a href="#"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></li>
        <li><a href="#"><i class="fa-brands fa-github"></i> GitHub</a></li>
        <li><a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a></li> 
    </ul>
 
    <ul class="redes-sociais">
        <li><h2 class="nomeIntegrante">Eduardo Felipe Calderoni</h2></li>
     
        <li><a href="#"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></li>
        <li><a href="#"><i class="fa-brands fa-github"></i> GitHub</a></li>
        <li><a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a></li>  
    </ul>
 
    <ul class="redes-sociais">
        <li><h2 class="nomeIntegrante">Guilherme Castilho Feitosa</h2></li>
        
        <li><a href="#"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></li>
        <li><a href="#"><i class="fa-brands fa-github"></i> GitHub</a></li>
        <li><a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a></li> 
    </ul>
    
</footer>