select {
    width: 22.3rem;
    height: 3.4rem;
    border: 2px solid var(--vermelho); 
    border-radius: 5px; 
    font-size: 1.3rem;
    margin-top: 0.3rem; 
    text-align: center;
    background-color: white;    
}

select:hover { 
    border: 2px solid var(--azul);   
}

select:focus {
    border: 2px solid var(--azul);    
}