#fundo {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center; 
}

#quadrado {
    background-color: white;
    display: flex; 
    justify-content: center;
    height: 50rem;
    margin-top: 5rem;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

#ladoEsquerdo { 
    width: 50rem;   
}

#ladoDireito {
    width: 40rem; 
}

#boxLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

#boxLogin label {
    font-size: 2rem;
    margin-top: 1rem;
    color: var(--vermelho); 
}

#tituloLogin {
    font-size: 3rem;
    color: var(--azul); 
    font-weight: 600;
    width: 27rem;
    margin: 7rem 0 0 0;
    padding-bottom: 6rem;
    text-align: center;
    text-decoration: underline; 
    display: inline-block;
}

app-button {
    margin: 3rem;
}

#linkCadastro, #esqueci-a-senha {
    margin-top: 1rem;
    font-weight: bold;
}

#linkCadastro a, #esqueci-a-senha a {
    text-decoration: none;
    text-align: center;
    color: var(--azul); 
}

#linkCadastro a:hover, #esqueci-a-senha a:hover {
    text-decoration: underline;
}

.erro {
    color: #ff0000;
}