<div id="fundo">    
    <div id="quadrado">
        <section id="ladoEsquerdo"> 
            <img src="assets\logoFF.jpg" alt="imagemLogin" style="width: 100%; height: 100%;">  
        </section>

        <section id="ladoDireito">
            <form id="boxLogin"  [formGroup]="form" (ngSubmit)="onSubmit()">
                <h1 id="tituloLogin">Login</h1>

                <label for="inputText"></label>
                <app-input-texto formControlName="nomeUser"
                id="inputText"
                type="text"
                placeholder="Usuário"  
                />
                <div *ngIf="erroNomeUser">
                    <p class="erro">Nome inválido!</p>
                </div>

                <label for="inputSenha"></label>
                <app-input-senha formControlName="senha1"
                id="inputSenha"
                type="password"
                placeholder="Senha" 
                [password]="userPassword"
                /> 
                <div *ngIf="erroSenha1">
                    <p class="erro">mín. 8 caracteres com letras e números</p>
                </div>

                <!-- <span id="esqueci-a-senha">
                    <a href="/#">Esqueceu a senha?</a>
                </span> -->

                <app-button textoBtn="Entrar"  type="submit" />

                <span id="linkCadastro">
                    <a href="/cadastro">Não possui conta? Crie uma agora!</a>
                </span>
            </form>
        </section>
        
    </div> 
</div>