<div id="fundo">    
    <div id="quadrado">
        <section id="ladoEsquerdo"> 
            <img src="assets\logoRosaAzul.jpeg" alt="imagemLogin" style="width: 100%; height: 100%;">  
        </section>

        <section id="ladoDireito">
            <div id="boxCadastro">
                <h1 id="tituloCadastro"> Cadastro</h1>

                <label for="inputText">Nome</label>
                <app-input-texto
                id="inputText" 
                placeholder=""  
                />

                <label for="inputData">Data de nascimento</label>
                <app-input-data
                id="inputData"   
                />
                
                <label for="inputSenha">Senha</label>
                <app-input-senha
                id="inputSenha" 
                placeholder="" 
                /> 

                <label for="inputConfirmarSenha">Confirmar Senha</label>
                <app-input-senha
                id="inputConfirmarSenha" 
                placeholder="" 
                /> 

                <div id="radiosGroup">    
                    <app-input-radio value="perfil" name="esportista" textoRadio="Sou esportista" />  
                    <app-input-radio value="perfil" name="agente" textoRadio="Sou agente de lutas" /> 
                </div>

                <app-button textoBtn="Criar conta" (click)="entrar()" />
 
            </div>
        </section>
        
    </div> 

</div>